<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CakeBakeWorld</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <nav id="navbar">
        <div id="logo"><a href="/" style="text-decoration: none;color: rgb(15, 175, 15);">CakeBakeWorld</a></div>
        <div id="nav-left">
            <div><a href="/" style="text-decoration: none;color: rgb(11, 129, 11);">Home</a></div>
            <div>About</div>
            <div>Cookbook</div>
        </div>
    </nav>
    <hr>