<%- include('partials/header.ejs') %>
    <h1>How to make Eggless Vanilla Cake</h1>
    <h3>Preparation</h3>
    <p>
        Before you make the eggless vanilla cake recipe, get all your ingredients ready.
        <br><br>
        Make sure all of them are at room temperature, except the butter that can be cold or straightaway removed from
        the refrigerator.
    </p>
    <section>
        1. First add 1.5 cups of all purpose flour with 1 tsp of baking powder and a pinch of salt into a sieve placed
        over a mixing bowl.
        <br><img src="eggless-vanilla-cake01.webp" alt="Flour">
    </section>
    <section>
        2. Sift the dry ingredients once or twice. Set aside.
        <br><img src="eggless-vanilla-cake02.webp" alt="sifting">
    </section>
    <section>
        3. Grease a 7.5 or 8 inches round pan with some butter. You can line the pan with parchment if you prefer.
        <br><br>
        One of my ancient (but really sturdy and well-seasoned) baking pan in the photo below
        <br><img src="eggless-vanilla-cake03.webp" alt="pan">
    </section>
    <section>
        4. Heat slightly more than ½ cup of butter in a small pan or bowl on medium-low heat until it just melts.
        <br><img src="eggless-vanilla-cake04.webp" alt="butter">
    </section>
    <section>
        5. Measure the melted butter in a ½ cup measuring cup. Set aside. Preheat your oven to 190 degrees Celsius (375
        degrees Fahrenheit) for 15 to 20 minutes before baking.
        <br><img src="eggless-vanilla-cake05.webp" alt="metled butter">
    </section>
    <section>
        6. In another bowl add ¾ cup of raw sugar (or white sugar), 1 teaspoon of vanilla extract, ¼ cup of curd
        (yogurt) and 1 tablespoon of apple cider vinegar.
        <br><br>
        Note: Beat the curd separately in a bowl and then add. Also use fresh curd and not sour curd.
        <br><br>
        Tip: Swap with white vinegar or lemon juice if you do not have apple cider vinegar.
        <br><img src="eggless-vanilla-cake06.webp" alt="mix">
    </section>
    <section>
        7. Add ½ cup of water.
        <br><img src="eggless-vanilla-cake07.webp" alt="mix">
    </section>
    <section>
        8. Whisk briskly until all of the sugar is dissolved and the curd gets evenly mixed. It should be like
        buttermilk, slightly off-color and foamy.
        <br><br>
        It is important that you beat the curd before adding as mentioned above so that you don’t have tiny lumps of
        curd in this liquid mixture.
        <br><img src="eggless-vanilla-cake08.webp" alt="mix">
    </section>
    <section>
        9. Now add ½ teaspoon of baking soda to the wet mixture.
        <br><img src="eggless-vanilla-cake09.webp" alt="mix">
    </section>
    <section>
        10. Stir until the baking soda is mixed evenly. The baking soda will cause some bubbling in this wet liquid
        mixture.
        <br><img src="eggless-vanilla-cake10.webp" alt="mix">
    </section>
    <section>
        <h1>Make Cake Batter</h1>
        <br><br>
        11. Add the liquid mixture and melted butter to the dry sifted ingredients.
        <br><img src="eggless-vanilla-cake11.webp" alt="batter">
    </section>
    <section>
        12. Mix very well with a wired whisk. Break apart any lumps by tapping them with the whisk. Be careful not to
        over-mix the batter.
        <br><img src="eggless-vanilla-cake12.webp" alt="batter">
    </section>
    <section>
        13. It should be a smooth batter like in the photo below.
        <br><br>
        Tip: If the batter becomes too thick or look dry, add some more milk or water (at room temperature) to get it to
        the desired consistency. Depending on the flour texture and quality, you will need to add more or less water.
        <br><img src="eggless-vanilla-cake13.webp" alt="batter">
    </section>
    <section>
        14. Pour the batter into the greased pan. Tap the pan on the countertop a few times so that any extra air
        bubbles are released and the batter spreads itself evenly in the pan.
        <br><br>
        You do not need to even the batter with a spatula. The batter spreads on its own.
        <br><img src="eggless-vanilla-cake14.webp" alt="batter">
    </section>
    <section>
        <h1>Bake Eggless Vanilla Cake</h1>
        <br><br>
        15. Place the cake pan in the preheated oven on the middle rack. If using an OTG or a regular oven, heat both
        the top and bottom heating elements.
        <br><img src="eggless-vanilla-cake15.webp" alt="batter">
    </section>
    <section>
        16. Bake at 180 degrees Celsius (375 degrees Fahrenheit) for 30 to 35 minutes, or until the top crust is golden.
        <br><br>
        Tip 1: The baking time varies with various oven type and the temperatures are not the same. Thus this eggless
        vanilla cake recipe can take less or more time to bake in your oven. Keep an eye on the cake as it bakes so that
        it does not brown too much.
        <br><br>
        Tip 2: Remember not to open the oven door until ¾ of the cake is baked. Opening and closing the oven door many
        times can make your cake sink or collapse.
        <br><br>
        Tip 3: When the cake begins to get golden and you see that is browning very quickly, then cover the top with an
        aluminium foil or butter paper and continue to bake.
        <br><img src="eggless-vanilla-cake16.webp" alt="cake">
    </section>
    <section>
        17. Check the doneness of the eggless vanilla cake with a bamboo skewer. It should be clean with no sticky
        batter on it.
        <br><img src="eggless-vanilla-cake17.webp" alt="cake">
    </section>
    <section>
        18. Place the pan on a wired tray or rack and let the cake cool to room temperature. Let the cake cool
        completely before you spread the jam glaze on it.
        <br><img src="eggless-vanilla-cake18.webp" alt="cake">
    </section>
    <section>
        <h1>Make Jam Glaze Icing</h1>
        <br><br>
        This eggless vanilla cake is delicious as-is, no toppings needed. However, a fresh fruit jam, buttercream icing
        or rich chocolate ganache are yummy options to make the cake an extra special sweet treat.
        <br><br>
        Before you frost the cake, make sure it is cool and not at all hot.
        <br><br>
        To make an easy jam glaze,
        <br><br>
        1. First add ½ cup of any sweet fruit jam of your choice in a small skillet or pan. I have used
        <a href="https://www.vegrecipesofindia.com/strawberry-jam-recipe-strawberry-recipes/">Homemade Strawberry
            Jam</a> to make this recipe for topping the cake.
        <br><br>
        2. Now add 1 tablespoon of tapioca starch or arrowroot flour or cornstarch, plus 3 tablespoons of water (or more
        if needed) and 1 tablespoon butter.
        <br><br>
        You can use any type of starch-based edible thickener that is available to you. All the three starches that I
        have listed above thicken the glaze nicely.
        <br><br>
        So include any one of them for thickening the glaze. In the below photo, the white colored flour is tapioca
        starch.
        <br><img src="eggless-vanilla-cake19.webp" alt="glaze">
    </section>
    <section>
        3. Place the pan on low heat and begin to mix.
        <br><img src="eggless-vanilla-cake20.webp" alt="glaze">
    </section>
    <section>
        4. Keep stirring until all of the ingredients have melted together and evenly combined.
        <br><img src="eggless-vanilla-cake21.webp" alt="glaze">
    </section>
    <section>
        5. Simmer on low heat for 3 to 4 minutes until the glaze thickens, stirring often. Do not boil or cook the
        mixture down too much.
        <br><br>
        Set aside and allow the jam glaze to cool slightly, so that it is warm and not hot.
        <br><img src="eggless-vanilla-cake22.webp" alt="glaze">
    </section>
    <section>
        <h1>Frost Cake</h1>
        <br><br>
        1. When the eggless vanilla cake cools, remove it gently from the pan. Place it on a board, tray or plate or a
        cake stand. A rotating cake stand makes applying the glaze easiest.
        <br><br>
        Place some of the jam icing on top and use a spatula to spread the glaze evenly on top and sides of the cake.
        <br><img src="eggless-vanilla-cake23.webp" alt="frost">
    </section>
    <section>
        2. Sprinkle some unsweetened desiccated coconut on top. You can even spread it at the sides.
        <br><br>
        Coconut is optional and you can skip it, if you are not a fan of coconut.
        <br><br><img src="eggless-vanilla-cake24.webp" alt="frost">
    </section>
    <section>
        3. Cover with a large steel bowl, taking care that the coconut and icing do not touch the bowl. Let the glaze
        cool completely and set.
        <br><br>
        Later slice and serve. You can also keep in the refrigerate for 1 to 2 hours and then serve.
        <br><br>
        <i>Note that the butter solidifies when cooled in the refrigerator. This make the texture of the cake slightly
        dense.</i>
        <br><br>
        <i>So let the cake come to room temperature before serving. Or you can warm it lightly in your oven at 90 degrees
        celsius (195 degrees Fahrenheit) for some minutes.</i>
        <br><img src="eggless-vanilla-cake-recipe-1.jpg" alt="finish">
    </section>
    <!-- Darsh pls fix this within an hour -->
    <%- include('partials/footer.ejs') %>