<%- include('partials/header.ejs') %>
    <h1>Hello World to my home page</h1>
    <h3>This contains all the info about this website</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem dolores porro maiores culpa similique reiciendis nihil, excepturi doloremque aliquid eaque nam, magnam quis nemo alias incidunt quidem saepe sapiente id!</p>
    <!-- Darsh pls fix this within an hour -->
<%- include('partials/footer.ejs') %>